h1 {
  color: red;
}

body {
  background-color: gainsboro;
  font-family: system-ui, sans-serif;
  margin: auto;
  text-align: center;
  padding: 30px;
  /* display: flex; */
}

#board {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  /* grid-template-columns: repeat(9, 1fr); */
  height: 500px;
  width: 500px;
  margin: auto;
  /* align-items: left; */
  border: 3px solid black;
}

.subsec {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(9, 1fr);
  /* border: 5px solid black;  */
  font-size: 30px;
}

.sqr {
  border: 2px solid darkgray;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
}
